

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Rectangle top*/
.rectangle-f34f5643c1f3 > svg .fills path {
  fill: none !important;
  stroke: black;
  stroke-width: 2px;/* 50% transparent gray */
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,5.684341886080802e-14px);
  background: none;
}
.rectangle-f34f5643c1f3 {
  position: absolute;
  left: 352px;
  top: 0px;
  width: 726px;
  height: 448px;
  background: 
    radial-gradient(circle at 0% 0%, transparent 24%, rgba(0, 0, 0, 0.8)), 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  
  background-repeat: no-repeat;
  background-size: cover; /* or contain, or any preferred sizing */
}

/* Rectangle bottom*/
.rectangle-f34f68bd6aa7 > svg .fills path{
  fill: none !important;
  stroke: black;
  stroke-width: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.rectangle-f34f68bd6aa7 {
  background: 
    radial-gradient(circle at 0% 0%, transparent 24%, rgba(0, 0, 0, 0.8)), 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  
  background-repeat: no-repeat;
  background-size: cover; /* or contain, or any preferred sizing */
  position: absolute;
  left: 352px;
  top: 394px;
  width: 726px;
  height: 440px;
}